.content__button-like {
    background: url('./../../../images/buttonLike.svg') center;
    background-repeat: no-repeat;
    box-sizing: unset;
    border: none;
    outline: none;
    height: 18px;
    width: 20px;
    box-sizing: border-box;
}

.content__button-like:hover {
    opacity: 0.6;
}