.profile__name {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
    min-width: 295px;
    margin: 0 17px 16px 0;
}